header nav{
    height: 80px;
    color: rgba(71,148,143,0.8);
    border: 1px solid rgba(71,148,143,0.2);
}
header nav img{
float: left;
margin-left: 100px;
margin-top: 15px;
}
header nav h1{
    display: inline-block;
margin-left:70px;
margin-top: 15px;

}
.section1{
width: 25%;
float: left;
height: 800px;
margin-bottom: 200px;
color: snow;
margin: 0px 20px 0 0px;
background-color: #4e8165a9;
}

.section1 p {
    font-family: sans-serif;
    font-size: 20px;
    margin-left: 10px;
}
.section2 img{
    display: block;
    width: 200px;
    height: 200px;
    padding: 15px;
}
.section2 ul{
    text-align: center;
}
.section2 li{
    display: inline-block;
}
.section3{
  margin-left: 20x;
  display: inline;
}
.section3::after{
content: "";
clear: both;
display: table;

}

footer{
    padding: 50px;
    background: #5d210bb4;
}